@tailwind base;
@tailwind components;
@tailwind utilities;

/* extra styling */
body {
  background: #f8fafc;
}

/* spicy card */
.spicy {
  background: #ffe4e6;
  border: 1px solid #f87171;
}

/* non spicy card */
.non-spicy {
  background: #ecfdf5;
  border: 1px solid #34d399;
}